{% extends 'PurpleAdmin-Free-Admin-Template/layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="content-wrapper">

        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
              <i class="mdi mdi-home"></i>
            </span> Carousel </h3>
          <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
              </li>
            </ul>
          </nav>
        </div>
        <div class="row">
          <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Adding Carousel</h4>
                    <!-- Modal starts -->
                    <div class="">
                      <button type="button" class="btn btn-gradient-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Add Carousel<i class="mdi mdi-playlist-plus ml-1"></i></button>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="card-title">Adding Carousel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                            <form action="{% url 'backend:addcarousel' %}" method="POST" enctype="multipart/form-data">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="input-group col-sm-12 " >
                                       <div class="form-group w-100">
                                            <label class="custom-control p-0" for="email">Title:</label>
                                            <input required placeholder="Brief Description" name="title" type="text" class="form-control" id="email">
                                           <div class="help-block"></div>
                                       </div>
                                    </div>

                                    <div class="input-group col-sm-12 " >
                                       <div class="form-group w-100">
                                            <label class="custom-control p-0" for="email">Sub Title:</label>
                                            <input required placeholder="Brief Description" name="sub_title" type="text" class="form-control" id="email">
                                           <div class="help-block"></div>
                                       </div>
                                    </div>

                                    <div class="input-group col-sm-12 ">
                                       <div class="form-group">
                                            <label class="custom-control p-0" for="image">Choose A File</label>
{#                                                <input name="image"  type="file" class="form-control" id="image" required>#}
                                           <div class="row " style="padding: 20px; ">
                                                <div class="form-group w-100" style=" display:flex; padding: 20px; flex-direction: column; position: relative;">
                                                    <label for="exampleInputEmail1">Home Carousel</label>
                                                    <input required id="vmimg" name="image" type="file" onchange="readURL(this);" style="position: absolute;width: 107px; top: 50%; transform: translate(-50%, -50%); left: 50%; z-index: 33;" />
                                                    <img  style="border-radius: 20px; width: 100%; height: 381px; position: relative" class="blah" id="image" src="{% static 'images/no-image.jpg' %}" alt="your image" />
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-gradient-dark" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    <!-- Modal Ends -->

                    {% for carousel in carousels %}
                         <div class="modal fade" id="editcategory{{ carousel.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog " role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="card-title">Editing Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                                <form action="{% url 'backend:carousel-edit' carousel.id %}" method="POST" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                         <div class="input-group col-sm-12 " >
                                           <div class="form-group w-100">
                                                <label class="custom-control p-0" for="email">Title:</label>
                                                <input required placeholder="Brief Description" value="{{ carousel.title }}" name="title" type="text" class="form-control" id="email">
                                               <div class="help-block"></div>
                                           </div>
                                        </div>

                                        <div class="input-group col-sm-12 " >
                                           <div class="form-group w-100">
                                                <label class="custom-control p-0" for="email">Sub Title:</label>
                                                <input required placeholder="Brief Description" value="{{ carousel.sub_title }}" name="sub_title" type="text" class="form-control" id="email">
                                               <div class="help-block"></div>
                                           </div>
                                        </div>

                                        <div class="input-group col-sm-12 ">
                                           <div class="form-group">
                                                <label class="custom-control p-0" for="image">Choose A File</label>
{#                                                <input name="image"  type="file" class="form-control" id="image" required>#}
                                               <div class="row " style="padding: 20px; ">
                                                    <div class="form-group w-100" style=" display:flex; padding: 20px; flex-direction: column; position: relative;">
                                                        <label for="exampleInputEmail1">Home Carousel</label>
                                                        <input value="{{ carousel.image }}"  id="vmimg" name="image" type="file" onchange="readURL(this);" style="position: absolute;width: 107px; top: 50%; transform: translate(-50%, -50%); left: 50%; z-index: 33;" />
                                                        <img  style="border-radius: 20px; width: 100%; height: 381px; position: relative" class="blah" id="image" src="{% static 'images/no-image.jpg' %}" alt="your image" />
                                                        <small id="emailHelp" style="font-size: 22px;" class="form-text text-muted">Image Preferably .jpeg, .png, .jpeg and a minimum height of 1500 pixels by 768 pixels for better images</small>
                                                    </div>
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <button type="button" class="btn btn-gradient-dark" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                         </div>
                    {% endfor %}

                    <div class="col-12 mt-4">
                        <table id="order-listing" class="table w-100">
                          <thead>
                            <tr>
                              <th>Order #</th>
                              <th>Image</th>
                              <th>Title</th>
                              <th>Sub Title</th>
                              <th>Created At</th>
                              <th>Updated At</th>
                              <th>Action</th>

                            </tr>
                          </thead>
                          <tbody>
                            {% for carousel in carousels %}
                                <tr>
                                      <td style=" padding:0 !important;">{{ forloop.counter }}</td>
                                      <td>

                                          <div style="width: 300px; height: 200px; border-radius: 7px; overflow:hidden;">
                                              <img style="width: 100%; height: 100%; border-radius: 0 !important;" src="{{ carousel.image.url }}" alt="">
                                          </div>
                                      </td>
                                      <td style="white-space: pre-wrap">{{ carousel.title }}</td>
                                      <td style="white-space: pre-wrap">{{ carousel.sub_title|truncatewords:20 }}</td>
                                      <td>{{ carousel.created_at|naturaltime }}</td>
                                      <td>{{ carousel.updated_at|naturaltime }}</td>
                                      <td style="white-space: pre-wrap">
                                          <a data-toggle="modal" data-target="#editcategory{{ carousel.id }}" href="" class="btn btn-gradient-info w-100">Edit</a>
                                          <a href="{% url 'backend:carousel-delete' carousel.id %}" class="btn btn-gradient-danger w-100">Delete</a>
                                      </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
          </div>
        </div>

    </div>
{% endblock content %}