<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/cv_css/red.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/cv_css/print.css' %}" media="print"/>
<!--[if IE 7]>
<link href="{% static 'css/cv_css/ie7.css' %}" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="{% static 'css/cv_css/ie6.css' %}" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="{% static 'css/cv_css/jjquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'css/cv_css/jquery.tipsy.js' %}"></script>
<script type="text/javascript" src="{% static 'css/cv_css/cufon.yui.js' %}"></script>
<script type="text/javascript" src="{% static 'css/cv_css/scrollTo.js' %}"></script>
<script type="text/javascript" src="{% static 'css/cv_css/myriad.js' %}"></script>
<script type="text/javascript" src="{% static 'css/cv_css/jquery.colorbox.js' %}"></script>
<script type="text/javascript" src="{% static 'css/cv_css/custom.js' %}"></script>
<script type="text/javascript">
		Cufon.replace('h1,h2');
</script>
    <script src="https://kit.fontawesome.com/16d33ecbbb.js" crossorigin="anonymous"></script>
    <style>
        .social-wr{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: indianred;
            color: white !important;
            border-radius: 5px;
        }
    </style>
</head>

<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" src="{{ admin.admin_profile.url }}" alt="John Smith" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">{{ admin.first_name }} {{ admin.last_name }} <br />
              <span style="width: max-content;margin-top: 5px;">{% for c in categories %} {{ c.name }}, {% endfor %}</span>
            </h1>
            <ul>
              <li class="ad">{{ about.address|title }}</li>
              <li class="mail">{{ about.email}}</li>
              <li class="tel">{{ about.phone }}</li>
              <li class="" style="padding-left: 4px;"><i style="padding-right: 8px;" class="fas fa-user-tie mr- 1"></i> {{  about.age }} Year </li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <div class="social">
            <ul>
              <li><a class='north' href="javascript:window.print()" title="Print"><img src="{% static 'images/cv_images/icn-print.jpg' %}" alt="" /></a></li>
              <li><a class='north' id="contact" href="mailto:{{ about.email }}" title="Contact Me"><img src="{% static 'images/cv_images/icn-contact.jpg' %}" alt="" /></a></li>
              {% for s in social %}
                <li class="social-wr">
                    <a target="_blank" class='north' href="{{ s.social_url }}" title="{{ s.social_name }}"><i style="color: white;" class="{{ s.icon }}"></i></a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- End Social -->
        </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2>OBJECTIVE</h2>
          <p>{{ about.description }}</p>
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2>EDUCATION</h2>
            {% for edu in educations %}
              <div class="content">
                <h3>{{ edu.start_d|date:'M Y' }} - {{ edu.end_d|date:'M Y' }}</h3>
                <p>{{ edu.school|title }} <br />
                  <em>{{ edu.position|title }}</em></p>
              </div>
            {% endfor %}

        </div>
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
          <h2>EXPERIENCE</h2>
            {% for expe in expes %}
              <div class="content">

                <h3>{{ expe.start_d|date:'M Y'}} -  {% if forloop.last %} Current {% else %} {{ expe.end_d|date:'M Y'}} {% endif %}</h3>
                <p>{{ expe.institution|title }} <br />
                  <em>{{ expe.position }}</em></p>
                <ul class="info">
                  <li>{{ expe.description }}.</li>
                </ul>
              </div>
            {% endfor %}

        </div>
        <!-- End 3rd Row -->
        <!-- Begin 4th Row -->
        <div class="entry">
          <h2>SKILLS</h2>
          <div class="content">
            <h3>Software Knowledge</h3>
            <ul class="skills">
                {% for soft in software %}
                  <li>{{ soft.software|title }}</li>
                {% endfor %}

            </ul>
          </div>
          <div class="content">
            <h3>Languages</h3>
            <ul class="skills">
                {% for lang in languages %}
                  <li>{{ lang.language }}</li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
{#        <div class="entry">#}
{#        <h2>WORKS</h2>#}
{#        	<ul class="works">#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        		<li><a href="{% static 'images/cv_images/image.jpg' %}" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="{% static 'images/cv_images/image.jpg' %}" alt="" /></a></li>#}
{#        	</ul>#}
{#        </div>#}
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>
